<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/aerolinea</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping class="com.aerolinea.entidad.Aeropuerto"/>
    <mapping class="com.aerolinea.entidad.Pais"/>
    <mapping class="com.aerolinea.entidad.Rol"/>
    <mapping class="com.aerolinea.entidad.Reservacion"/>
    <mapping class="com.aerolinea.entidad.Avion"/>
    <mapping class="com.aerolinea.entidad.Usuario"/>
    <mapping class="com.aerolinea.entidad.Vuelo"/>
  </session-factory>
</hibernate-configuration>
